* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #111119;
}

header {
    display: flex;
    width: 60%;
    margin: 50px;
    align-items: center;
    animation: fade 1s ease;
}

.logo {
    height: 64px;
}

.logo img {
    height: 100%;
}

nav {
    margin-left: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-links a {
    color: #cccccc;
    font-size: 24px;
    text-decoration: none;
    margin-left: 50px;
}

.nav-links a:hover {
    color: #ffffff;
}

.landing {
    width: 90%;
    margin: auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: drop 1.5s ease;
}

.landing-text {
    color: #cccccc;
    letter-spacing: 8px;
    text-align: center;
    font-size: 24px;
}

.landing-image {
    height: 64px;
    margin-top: 50px;
}

.landing-image img {
    height: 100%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-width: 768px) {
    header {
        margin: 20px;
    }

    nav {
        margin-left: 20px;
    }

    .nav-links a {
        margin-left: 20px;
    }

    .landing-text {
        font-size: 18px;
        letter-spacing: 4px;
    }

    .landing-image {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    header {
        margin: 0px;
        padding: 20px;
        width: 100%;
    }

    .logo {
        align-self: flex-start;
    }

    nav {
        flex: 1;
    }

    .nav-links a {
        font-size: 18px;
    }

    .nav-links {
        height: 150px;
        flex-direction: column;
        text-align: right;
        justify-content: space-between;
    }

    .landing {
        height: 40vh;
    }
}
